/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    background-color: #ff5454;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #c0392b;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(17, 0, 72);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
}

.about-content {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    margin-bottom: 15px;
}

strong {
    font-size: 1.2rem;
}

.back-button {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.9rem;
}

